:root {
  --br: 15px;
  --color-invalid: rgb(205, 51, 82);
  --fontsize-p: clamp(1.2rem, 5vw, 1.6rem);
  --gap: 22px;
  --header-height: calc(195px + var(--output-height));
  --output-height: 0px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  color: grey;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

p {
  font-size: var(--fontsize-p);
  font-weight: 500;
  margin-top: 0.5rem;
}

.header {
  background: url("../images/pattern-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: var(--header-height);
  padding-top: 2rem;
  text-align: center;
}

form {
  display: flex;
  margin: 0 auto;
  padding: 2rem 1.5rem 0;
  position: relative;
  width: min(100%, 550px);
}

.input {
  border-bottom-left-radius: var(--br);
  border-top-left-radius: var(--br);
  border: none;
  height: 55px;
  outline: none;
  padding-left: 2rem;
  width: 100%;
}

.invalid {
  border: 2px solid var(--color-invalid);
}

.invalid-message {
  background: var(--color-invalid);
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  left: 50%;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
}

.btn {
  align-items: center;
  background-color: black;
  border-bottom-right-radius: var(--br);
  border-top-right-radius: var(--br);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 55px;
  justify-content: center;
  width: 55px;
}

.btn:hover {
  background-color: rgb(62, 62, 62);
}

.output {
  background: white;
  border-radius: var(--br);
  display: grid;
  left: 50%;
  padding: 2rem;
  position: absolute;
  row-gap: var(--gap);
  text-align: center;
  top: 0;
  transform: translate(-50%, -50%);
  width: min(100% - 3rem, 550px - 3rem);
  z-index: 314159;
}

#map {
  height: 100%;
}

.map {
  height: calc(100vh - var(--header-height));
  position: relative;
  width: 100%;
}

.activeArea {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--output-height));
}

@media screen and (min-width: 1100px) {
  .output {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    text-align: left;
    width: min(100% - 3rem, 1100px);
  }
  .output__item {
    border-right: 1px solid grey;
    padding: 0 2rem;
  }
  .output__item:last-child {
    border: none;
  }
  form {
    padding: 2rem 0 0;
  }
}
